
@font-face {
    font-family: "mulush";
    src: url("../fonts/mulush.woff2") format('woff2');
    font-weight: 200;
  }
  @font-face {
    font-family: "mulush";
    src: url("../fonts/mulush.woff2") format('woff2');
    font-weight: 300;
  }
  @font-face {
    font-family: "ng";
    src: url("../fonts/ng-semi-bold.woff2") format('woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: "ng";
    src: url("../fonts/ng-semi-bold.woff2") format('woff2');
    font-weight: 500;
  }
  @font-face {
    font-family: "unbound";
    src: url("../fonts/Yq-bold.woff2") format('woff2');
    font-weight: 600;
  }
  // @font-face {
  //   font-family: "unbound";
  //   src: url("../fonts/Yq-bold.woff2") format('woff2');
  //   font-weight: 700;
  // }
  
  