
@font-face {
    font-family: "mulush";
    src: url("../fonts/mulush.woff2") format('woff2');
    font-weight: 200;
  }
  @font-face {
    font-family: "mulush";
    src: url("../fonts/mulush.woff2") format('woff2');
    font-weight: 300;
  }
  @font-face {
    font-family: "ng";
    src: url("../fonts/ng-semi-bold.woff2") format('woff2');
    font-weight: 400;
  }
  @font-face {
    font-family: "ng";
    src: url("../fonts/ng-semi-bold.woff2") format('woff2');
    font-weight: 500;
  }
  @font-face {
    font-family: "unbound";
    src: url("../fonts/Yq-bold.woff2") format('woff2');
    font-weight: 600;
  }
  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-Light.woff") format('woff');
    font-weight: 300;
  }
  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-Regular.woff") format('woff');
    font-weight: 400;
  }
  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-Medium.woff") format('woff');
    font-weight: 500;
  }
  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-SemiBold.woff") format('woff');
    font-weight: 600;
  }
  @font-face {
    font-family: "pretand";
    src: url("../fonts/Pretendard-Black.woff") format('woff');
    font-weight: 700;
  }
  