.moblie-header{
    color:#fff;
    .logo{
        display: none;
        width: 75px;
    }
    @include desktop{
        visibility: hidden;
    }
    @include teblet{
        visibility: visible;
        position: relative;
        padding: 10px 0;
        
        .hambuger-btn{
            margin-top: 15px;
            width: 20px;
            height: 15px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &.active{
                z-index: 110;
                &::before{
                    transform: translate3d(0,2px,0) rotate(45deg);
                }
                &::after{
                    transform: translate3d(0,-2px,0) rotate(-45deg);
                }
            }
            &::before{
                background-color: #fff;
                content: "";
                height: 1px;
                top: 5px;
                left: 0;
                position: absolute;
                transform: translateZ(0) rotate(0deg);
                transform-origin: center center;
                transition: transform .75s cubic-bezier(.645,.045,.355,1);
                width: 18px;
                cursor: pointer;
            }
            &::after{
                cursor: pointer;
                background-color: #fff;
                content: "";
                height: 1px;
                left: 0;
                top: 10px;
                position: absolute;
                transform: translateZ(0) rotate(0deg);
                transform-origin: center center;
                transition: transform .75s cubic-bezier(.645,.045,.355,1);
                width: 18px;
            }
        }
     
    }
    @include mobile{
        visibility: visible;
        position: relative;
        padding: 10px 0;
        
        .hambuger-btn{
            margin-top: 15px;
            width: 20px;
            height: 15px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &.active{
                z-index: 110;
                &::before{
                    transform: translate3d(0,2px,0) rotate(45deg);
                }
                &::after{
                    transform: translate3d(0,-2px,0) rotate(-45deg);
                }
            }
            &::before{
                background-color: #fff;
                content: "";
                height: 1px;
                top: 5px;
                left: 0;
                position: absolute;
                transform: translateZ(0) rotate(0deg);
                transform-origin: center center;
                transition: transform .75s cubic-bezier(.645,.045,.355,1);
                width: 18px;
                cursor: pointer;
            }
            &::after{
                cursor: pointer;
                background-color: #fff;
                content: "";
                height: 1px;
                left: 0;
                top: 10px;
                position: absolute;
                transform: translateZ(0) rotate(0deg);
                transform-origin: center center;
                transition: transform .75s cubic-bezier(.645,.045,.355,1);
                width: 18px;
            }
        }
     
    }
    .moblie-side-nav{
        @include mobile{
            display: flex;
        }
        @include teblet{
            display: flex;
        }
        display: none;
        justify-content: center;
        align-items: center;
        background-color:#000;
        visibility: hidden;
        overflow-y: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        font-size: 11px;
        transform: translateY(-100%);
        transition: all 0.5s ease;
        z-index: 100;
        &.on{
            visibility: visible;
            transform: translateY(0);
        }
        .list{
            display: flex;
            gap: 30px;
            flex-direction: column;
            .item{
                padding-bottom: 10px;
                font-size: 50px;
                text-transform: uppercase;
                border-bottom: 2px solid #fff;
                @include mobile{
                    font-size: 22px;
                }
            }
        }
    }   
}



.header{
    @include teblet{
        display: none;
    }
    position: relative;
    position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    padding: 0 15px;
    background-color: #151414;
    color: $--light-blue;
        .logo{        
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 150%;
            width: 38px;
            @include mobile {
                display: none;
            }
            img{
                }
            
       } 
    
    .header-nav{
        display: flex;
        @include teblet{
            
        }
        .nav-list{
            flex: 1;
                .contact-item {
                    a{
                    display: flex;
                    align-items: center;
                    border: 2px solid $--light-blue;
                    color: $--light-blue;
                    background-color: rgba(0,0,0,0);
                    border-radius: 50px;
                    padding: 0px 30px;
                    font-size: 17px;
                    line-height: 1.4;
                    height: 48px;
                    position: relative;
                    white-space: nowrap;
                    transition: .1s;
                
                    &:hover{
                        background: $--light-blue;
                        color: #000;
                        .nav{
                            transform: translateY(-100%);
                        }
                        .sub-nav{
                            transform: translate(-50%,-50%);
                        }
                    }
                    .wrap{
                        position: relative;
                        overflow: hidden;
                        line-height: 28px;
                        // background: #f00;
                    }
                    .nav{
                        display: block;
                        transition: .2s;
                    }
                    .sub-nav{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,100%);
                        transition: .2s;
                    }
                }
               
              }
            .container{
                display: flex;
                align-items: center;
            }
          
            .container2{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            .item{      
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 110px;
                transition: 0.3s;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;left: 0;
                    width: 100%;
                    height: 0%;
                    background: $--light-blue;
                    transition: .3s;
                    
                }

                &:hover{
                    &::before{
                        height: 100%;
                    }
                    a{
                        .nav{
                            transform: translateY(-100%);
                        }
                        .sub-nav{
                            opacity: 1;
                            transform: translateY(-50%);
                        }
                    }
                }
                a{  
                    @include desktop{
                        font-size: 13px;
                    }
                    position: relative;
                    overflow: hidden;
                    line-height: 34px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 17px;  
                    padding: 0 20px;
                    text-align: center;
                    .nav{
                        display: block;
                        text-transform: uppercase;
                        transition: .3s;                      
                    }
                    .sub-nav{
                        position: absolute;
                        top: 50%;
                        transform: translateY(100%);
                        width: 100%;
                        left: 0;
                        opacity: 0;
                        transition: .3s;   
                        color: $--bg-color;
                       
                    }
                }
            }
        }
    }
    
}
